@charset "utf-8"; html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, strong, button {
	margin:0;
	padding:0;
	border:0;
}
body {
	font:normal 12px Arial, Verdana;
	line-height:16px;
	background:#DBDBDB;
	/*background:url(image/cms-listing.jpg) no-repeat left top;
	opacity:0.4;filter:alpha(opacity=40);*/
	width:100%;
	color:#333333;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th {
	text-align:left;
	font-weight:normal;
}
table, td, th {
	vertical-align:top;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
blockquote {
	background-image:url(image/quotes-bg.gif);
	background-repeat:no-repeat;
	color:#9E9E9E;
	margin-left:0;
	padding:0 0 0 25px;
}
a img {
	border:none;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0pt;
	line-height: 0pt;
	visibility: hidden;
}
* html .clearfix {
	height: 1%
}
/* @end */ /* @group Common element style */ a:focus, a:hover {
	color:#333333;
	text-decoration:underline !important;
}
a { outline:none;
	color:#333333;
	text-decoration:none;
}
strong {
	font-weight:bold;
}
p {
	color:#333333;
}
table {
	
	width:100%;
}
th {
	font-weight:bold;
}
th, td {
	padding:4px 10px 4px 5px;
	font-size:12px;
	color:#333333;
}
tr.even td {
	background:#E5ECF9;
}
tfoot {
	font-style:italic;
}
caption {
	background:#eee;
}
input, textarea, select {
	font:normal 12px Verdana, Arial;
	color:#666;
}
input.text, textarea.text, textarea.richtext, select {
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input.text:focus, textarea.text:focus, textarea.richtext:focus, select:focus {
	border: solid 1px #0980bf;
}
ul, li {
	list-style:none;
}
#container {
	width:100%;
	height:auto;
	overflow:hidden;
	min-width:1000px;
}
#header {
	width:100%;
	height:66px;
	float:left;
	padding-left:20px;
	background:url(image/header_bg.gif) repeat-x left top;
}
#header h1 {
	margin:26px 0 0 3px;
}
#header h1 a {
	text-indent:-9999px;
	background:url(image/cms_logo.gif) no-repeat 0 0px;
	width:259px;
	height:19px;
	display:block;
}
#header ul {
	float:right;
	margin:11px 30px 0 0px;
	width:260px;
}
#header ul li{
	float:left;
	margin:0 0px 0 34px;
	text-align:center;
}
#header ul li.last{
	margin-left:38px;
}
#header ul li a{
	display:block;
	height:34px;
	padding:35px 0 0 0;
	color:#FFF;
	text-align: center;
	font-size: 11px;
}
#header ul li a.view-site{
	background: url(image/view-site.gif) no-repeat center top;
}
#header ul li a.profile{
	background: url(image/profile.gif) no-repeat center top;
}
#header ul li a.logout{
	background: url(image/logout.gif) no-repeat center top;
}
.subhead{
	width:100%;
	height:42px;
	background:url(image/subheader_bg.gif) repeat-x left top;
	float:left;
	padding-left:20px;
}
.subhead h2{ margin:12px 0 0 0px; letter-spacing:-1px; font-size:17px; color:#494949;
}
#wrap{
	width:100%;
	height:auto;
	overflow:hidden;
	
	clear:both;
}
#sidebar {
width:20%; float:left; margin:10px 0 0 0;
}
.block {
	margin:0 0 15px 20px;
	background:#DBDBDB;
}
.select-combo-wrap { width:146px; height:100%; overflow:hidden; float:right; margin:8px 37px 0 0;
}
#select-combo {
	width:143px;
	height:20px;
	background:url(image/lang_switcher_bg.gif) no-repeat left top;
	padding:5px 0 0 3px;
	border:0;
	cursor: pointer;
}
#select-combo span {
	padding: 4px 6px 0 0;
}
#lang-switcher {
	width:144px;
	z-index:999;
	position:absolute;
	display: none;
	border: 1px solid #c0c0c0;
}
#lang-switcher li a{
	display: block;
	width:134px;
	background-color:#efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding:3px 0 1px 10px;
	text-decoration: none!important;
}
#lang-switcher li a:hover{
	background-color:#0980bf;
	color:#FFFFFF;
	border-top: 1px solid #14628a;
	border-bottom: 1px solid #14628a;
}
.corner span{
	display:block;
	height:1px;
}
.corner *{ background:#FFFFFF none repeat scroll 0 0; display:block; height:1px; overflow:hidden;
}
.layer0{
	background:#C4C4C4 none repeat scroll 0 0;
	border-left:1px solid #D3D4D5;
	border-right:1px solid #D3D4D5;
	margin:0 3px;
	padding:0 1px;
}
.layer1 {
	border-left:1px solid #D3D4D5;
	border-right:1px solid #D3D4D5;
	margin:0 2px;
	padding:0;
}
.layer2 {
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
	margin:0 1px;
}
.block-content {
	background:#FFFFFF none repeat scroll 0 0;
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
	overflow:hidden;
	padding:4px 9px;
}
.block-content ul {
	margin:1px 0 0 1px;
	width:100%;
	overflow:hidden;
}
.block-content ul li{
	border-bottom:#CCCCCC 1px solid;
	background:#FFF;
}
.block-content ul li.first{
}
.block-content ul li.last{
	border-bottom: none;
}
.block-content ul li.current {
	background:url(image/block_current_bg.gif) no-repeat left top;
}
.block-content ul li a{
	display: block;
	background:url(image/nav-item.gif) no-repeat left center;
	font-weight:bold;
	padding: 4px 5px 4px 22px;
	margin: 2px 0 0 5px;
}
.block-content ul li.current a{
	color:#FFF;
	}
.block-content .dashboard{
	background:url(image/nav-dashboard.gif) no-repeat 0 2px;
}
.block-content .content{
	background-image:url(image/nav-content.gif);
}
.block-content .media{
	background-image:url(image/nav-media.gif);
}
.block-content .manage{
	background-image:url(image/nav-manage.gif);
}
.block-content .site{
	background-image:url(image/nav-site.gif);
}
.block-content .system{
	background-image:url(image/nav-system.gif);
}
.block-content ul li ul {
	padding: 0 0 5px 22px;
	display: none;
}
.block-content ul li.current ul {
	display: block;
}
.block-content ul li li {
	border-bottom:none;
}
.block-content ul li li.current {
	background: none;
}
.block-content ul li li.seperator {
	background:url(image/seperator.gif) no-repeat right bottom;
}
.block-content ul li li a{
	background:url(image/arrow_right.gif) no-repeat left center;
	font-weight:normal;
	padding: 1px 5px 2px 10px;
}
.block-content ul li.current li a{
	color:#333333;
}
.block-content ul li li.current a{
	color:#FF6666;
}
.block-content ul li li.current li a{
	color:#333333;
}
.block-content ul li li li.current a{
	color:#FF6666;
}
.content-wrap { background:#DBDBDB none repeat scroll 0 0; margin:10px 0 0 13px; width:78%; float:left;
}
#content {
background:#FFFFFF none repeat scroll 0 0; border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4; padding:10px 10px 25px 10px; min-height: 450px; _height: 450px;
}
.search-wrap { width:100%; background:url(image/search_bg.gif) repeat-x 0px 0px;
}
.search-box { background:url(image/search_left_bg.gif) no-repeat left top;
}
.search-box form { background:url(image/search_right_bg.gif) no-repeat right top; padding:6px 10px 8px 10px; margin: 0 0 6px 0;
}
.search-box fieldset { padding: 0!important;
}
.search-box dt, .search-box dd { clear: none; width: auto;
}
.search-box dt { float:left; padding:4px 3px 0 5px;
}
.search-box dd { float:left; padding:0 3px 0 0; min-height: 0!important; _height: 0!important;
}
.search-box #search input { padding: 3px 2px 3px 2px; width: 150px;
}
.search-box select { vertical-align: middle; width: 150px!important;
}
#action-wrap {
height:22px;
}
#action {
margin:0; height:22px;
}
#action.float {
position: fixed; top: 0; left: 0; width: 98%; padding: 8px 0 8px 2%; background:#FDFAA4; border-bottom:1px solid #988753; z-index:100; opacity: 0.80;
}
#action h5{
color:#A9A9A9; font-size:12px; margin-bottom:2px;
}
#action h3{
float: left; font-size:17px; width: 320px; margin-top: 9px; overflow: hidden;
}
#action.float h3{
margin-top: 3px;
}
#action ul {
}
#action.float ul {
margin-left: 281px;
}
#action ul li{
float:left; margin-right:3px;
}
#action ul.right {
float:right; margin: 0 -2px 0 0;
}
#action.float ul.right {
margin-right: 24px;
}
#action ul.right li{
margin:0 3px 0 3px;
}
#action_extras {
	float: left;
}
button { border-width:1px; border-style:solid; border-color:#dddddf #bbbbbd #bbbbbd #dddddf; padding:0 7px 1px 7px; background: url(image/btn-bg.gif) repeat-x 0 100%; color:#666666; 
cursor:pointer; text-align:center !important; white-space:nowrap; -moz-border-radius: 4px; -webkit-border-radius: 4px;} @media screen and (-webkit-min-device-pixel-ratio:0) {
    button { padding:2px 7px 3px 7px; }
}
button.delete, button.save, button.new, button.cancel { padding-left:5px; } button span { line-height:1.35em; background-repeat:no-repeat; background-position:0 50%; } @media screen and 
(-webkit-min-device-pixel-ratio:0) {
    button span { background-position:0 bottom; }
}
button.delete span, button.save span, button.new span, button.cancel span { padding-left:18px; } button.delete span { background-image:url(image/btn-delete.gif); } button.save span { 
background-image:url(image/btn-save.gif); background-position:0 53%; } button.new span { background-image:url(image/btn-new.gif); } button.cancel span { 
background-image:url(image/btn-cancel.gif); } button.delete.disabled span { background-image:url(image/btn-delete-dis.gif); } button.save.disabled span { 
background-image:url(image/btn-save-dis.gif); background-position:0 53%; } button.new.disabled span { background-image:url(image/btn-new-dis.gif); } button.cancel.disabled span { 
background-image:url(image/btn-cancel-dis.gif); } .primary button:hover { color: #298e00; border-color:#38d700 #1d6a02 #1d6a02 #38d700; } .secondary button:hover { color: #046ca9; 
border-color:#018fe0 #044368 #044368 #018fe0; } .ternary button:hover { color: #777777; border-color:#eeeeef #aaaaac #aaaaac #eeeeef; } button.delete:hover { color: #a92000; 
border-color:#d24403 #a92000 #a92000 #d24403; } button.disabled, button.disabled:hover { border-color:#777 #505050 #505050 #777; background:#919191 url(image/btn-bg-dis.gif) 0 0 repeat-x; 
color:#fff; cursor:default; } form fieldset { padding: 15px 0 5px 0;
}
fieldset h3 { font-size:17px; font-weight:bold; color:#333333; padding:0px 0 2px; clear:both;
}
fieldset p.note {
	background: url(image/note.gif) no-repeat left top;
	padding: 0px 0 15px 24px;
}
fieldset p.note a{ color:#005EA3; text-decoration:underline;
}
fieldset .hr {
	background: url(image/ruler_bg.gif) repeat-x left top;
	height:1px;
	width:100%;
	margin:2px 0 18px 0;
}
fieldset dl {
	padding-left: 5px;
}
fieldset dt, fieldset dd {
	float: left;
}
fieldset dt {
	clear: left;
	width: 110px;
}
fieldset dd {
	clear: right;
	width: 80%;
	padding-bottom: 2px;
	min-height: 32px;
	_height: 32px;
}
fieldset dd.moreheight {
	padding-bottom: 11px;
}
fieldset dd input.text, fieldset dd textarea.text {
	width:274px;
	padding: 2px;
}
fieldset dd textarea.richtext {
	display: block;
	width: 630px;
	height: 180px;
}
fieldset dd select {
	padding: 1px;
	width:280px;
}
p.error {
	color: #ff0000;
	font-size: 11px;
	line-height: 10px;
}
ul.error {
	color: #ff0000;
}
.cta {
	padding: 10px 0 10px 112px;
}
.cta li {
	float: left;
	margin: 0 3px 0 3px;
}
span.mandatory {
	font-weight: bold;
	color: #ff0000;
}
ul.multiple {
	padding: 4px 0 4px 0;
}
ul.multiple li {
	padding: 4px 0 4px 0;
}
div.more {
	padding-left: 0;
}
.bordertop { background:#666; height:4px; width:100%; margin:3px 0 1px 0;
}
table.grid { border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0;
}
table.grid th {
	background: url(image/grid-row-sep.gif) no-repeat right center;
	padding: 5px 2px 1px 5px;
	font-weight: normal;
}
table.grid th.action {
	text-align: center;
}
table.grid th a, table.grid th a:hover {
	background: url(image/grid-sort-col-up-down.gif) no-repeat right center;
	display: block;
	text-decoration: underline;
	margin-right: 5px;
	text-decoration: none!important;
}
table.grid th a.asc {
	background-image: url(image/grid-sort-col-up.gif);
}
table.grid th a.desc {
	background-image: url(image/grid-sort-col-down.gif);
}
table.grid tr.head {
	background: url(image/grid-head-bg.gif) repeat-x center center;
}
table.grid tr.on {
	background: #fafafa;
}
table.grid tr.hover {
	background: #ccffff;
}
table.grid tr.click {
	background: #ffffbb;
}
table.grid tr.clickhover {
	background: #ffffcc;
}
table.grid td.action {
	text-align: center;
}
table.grid td {
	padding: 8px 2px 2px 5px;
	border-bottom: 1px solid #ededed;
}
table.grid td.action a {
	display:block;
	height:20px;
	text-indent:-10000px;
	overflow: hidden;
	width:20px;
	background-position:0 0;
	margin-left:25%;
}
table.grid td.action a.view {
	background:transparent url(image/icon-view.gif) no-repeat;
}
table.grid td.action a.edit {
	background:transparent url(image/icon-edit.gif) no-repeat;
}
table.grid td.action a.delete {
	background:transparent url(image/icon-delete.gif) no-repeat;
}
table.grid td.action a.manage {
	background:transparent url(image/icon-manage.gif) no-repeat;
}
table.grid td.action a.up {
	background:transparent url(image/icon-up.gif) no-repeat;
	margin-left:15%;
	float: left;
	width:12px;
}
table.grid td.action a.down {
	background:transparent url(image/icon-down.gif) no-repeat;
	margin-left:0;
	float: left;
	width:12px;
}
table.grid td.action a.privilege {
	background:transparent url(image/icon-privilege.gif) no-repeat;
}
.sorted {
	background:#efefef;
}
ul.grid {
	
}
ul.grid li {
	position: relative;
	float: left;
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin: 10px 10px 10px 10px;
	border: 4px solid #DBDBDB;
}
ul.grid li div {
	position: absolute;
	display: none;
	background: #fefefe;
	top: 54px;
	width: 71px;
	padding: 4px 2px 4px 2px;
}
ul.grid li div a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 4px 0 3px;
	overflow: hidden;
	text-indent: -1000px;
	text-decoration: none;
}
div a.edit {
	background: url(image/mm-edit.gif) no-repeat center center;
}
div a.thumb {
	background: url(image/mm-thumb.gif) no-repeat center center;
}
div a.download {
	background: url(image/mm-download.gif) no-repeat center center;
}
div a.manage {
	background: url(image/w-manage.gif) no-repeat center center;
}
.sorthelper {
	float: left;
	height: 80px!important;
	overflow: hidden;
}
.sortactive {
	
}
.sorthover {
	
}
.selecteditem {
	border: 4px solid #0980bf!important;
}
.selecthelper {
	background-color: #000;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.grid-paging { clear:both; background:url(image/paging-bg.gif) repeat-x left center; border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0;
}
.grid-paging td.left { vertical-align: middle;
}
.grid-paging td.right { vertical-align: middle; text-align: right; font-weight: bold; padding-top: 5px;
}
.grid-paging td.right a { font-weight: normal;
}
.grid-paging form{ display: inline;
}
.grid-paging select{ border:#7E9DBA 1px solid; width:52px;
}
.grid-paging input.pageno{ border:#7E9DBA 1px solid; width:30px; text-align: center;
}
.grid-paging a.first, .grid-paging a.prev, .grid-paging a.next, .grid-paging a.last{ background-image:url(image/paging.gif); background-repeat:no-repeat; padding: 0 7px 2px 8px; margin: 0 
2px 0; vertical-align:middle;
}
a.first{ background-position:0 -15px;
}
a.prev{ background-position:-15px -15px;
}
a.next{ background-position:-30px -15px;
}
a.last{ background-position:-45px -15px;
}
a.first:hover{ background-position:0 0;
}
a.prev:hover{ background-position:-15px 0;
}
a.next:hover{ background-position:-30px 0;
}
a.last:hover{ background-position:-45px 0;
}
div.lang-ptr {
	position: relative;
	cursor: pointer;
	background:url(image/arrow_down.gif) no-repeat right center;
	display: inline;
	padding-right: 11px;
}
ul.lang {
	top: 12px;
	width:95px;
	z-index:999;
	position:absolute;
	display: none;
	border: 1px solid #c0c0c0;
}
ul.lang li a{
	display: block;
	width:85px;
	background-color:#efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding:3px 0 1px 10px;
	text-decoration: none!important;
}
ul.lang li a:hover{
	background-color:#0980bf;
	color:#FFFFFF;
	border-top: 1px solid #14628a;
	border-bottom: 1px solid #14628a;
}
a.translate{
	padding:4px 5px 0 5px;
}
ul.gallery {
	width: 170px;
	padding-bottom: 2px;
	clear: both;
}
ul.gallery li {
	float: left;
	width:64px;
	height: 64px;
	overflow: hidden;
	margin: 2px;
	border:4px solid #DBDBDB;
	background: #ffffff;
}
#footer {
	position: fixed;
	bottom: 0;
	margin-top:35px;
	width:100%;
	height:35px;
	background:url(image/footer_bg.gif) repeat-x left top;
}
#footer p {
	float: left;
	width: 300px;
	padding:11px 0 0 22px;
	color:#FFF;
}
.message {
	clear: both;
}
.message ul {
	list-style: none;
	padding: 5px 0 5px 0;
}
.message ul li {
	list-style: none;
	padding: 7px 5px 7px 26px;
	margin: 3px 0 0 1px;
	position: relative;
}
.message ul li a {
	color:#9A9A9A;
}
.message ul li a.close {
	position: absolute;
	top: 9px;
	right: 10px;
	width: 12px;
	height: 12px;
	background:url(image/close.gif) no-repeat scroll center center;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .message ul li a.close {margin: 2px 5px 0 0;}
}
.message ul li.success {
	background:#EFF5EA url(image/success_msg_icon.gif) no-repeat scroll 7px 7px;
	color:#3D6611;
}
.message ul li.error {
	background:#FFDFCF url(image/error_msg_icon.gif) no-repeat scroll 7px 7px;
	color:#C64A3A;
}
.message ul li.warning {
	background:#FFF9DF url(image/warning_msg_icon.gif) no-repeat scroll 7px 7px;
	color:#BB9024;
}
.message ul li.note {
	background:#FFEFEF url(image/note_msg_icon.gif) no-repeat scroll 7px 7px;
	color:#9A9A9A;
}
.headaction, tr.headaction th { margin:0; padding:0; text-align:center; background:#E4E4E4; color:#020001; font-weight:normal;
}
/******************Gallery *****************/ .gallery-wrap { width:99.8%; height:100%; overflow:hidden; border:1px solid #DDDDDD; border-top:none;
}
.meadia-gal { margin:6px 0 20px 10px; width:100%; height:100%; overflow:hidden;
}
.meadia-gal li{ padding:0 10px 8px 0px; background: url(image/thumb_bg.gif) no-repeat left top; float:left;
}
.tools { margin:16px 0 0 10px; width:98%; height:30px;
}
.tools .zoom{ float:right; width:118px; vertical-align:top;
}
.cmbSort { width:120px; height:18px; float:left;
}
ul.gal-list { width:103%;
}
ul.gal-list li{ padding:0 10px 8px 0px; background: url(image/thumb_bg.gif) no-repeat left top; float:left;
}
#pop-wrap {
	padding: 5px 10px 5px 10px;
}
/******************popup*****************/ div#nyroModalFull {
	color: #777;
}
div#nyroModalBg {
	background: url(image/dialog-mask.png) repeat left top;
}
div#nyroModalLoading {
	border: 4px solid #777;
	width: 150px;
	height: 150px;
	text-indent: -9999em;
	background: #fff url(image/indicator.gif) no-repeat;
	background-position: center;
}
div#nyroModalLoading.error {
	border: 4px solid #f66;
	line-height: 20px;
	padding: 20px;
	width: 300px;
	height: 100px;
	text-indent: 0;
	background: #fff;
}
div#nyroModalWrapper {
	background: #fff;
}
a#closeBut {
	display: none;
}
h1#nyroModalTitle {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -22px;
	left: 5px;
	font-size: 12px;
	color: #ddd;
}
div.wrapper div#nyroModalContent {
	padding: 0;
}
#dialog-head {
	background:transparent url(image/popup_head_bg.gif) repeat-x scroll left bottom;
	clear:both;
	height:40px;
}
#dialog-head h2 {
	float: left;
	width: 80%;
	color:#494949;
	font-size:15px;
	letter-spacing:-1px;
	margin:12px 0 0 10px;
}
#dialog-head a {
	display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: url(image/dialog-close.gif) no-repeat center center;
	text-decoration: none;
	margin: 8px 8px 0 0;
}
#dialog-head a:hover {
	background: url(image/dialog-close-hover.gif) no-repeat center center;
}
#dialog-content-wrap {
background:#DBDBDB none repeat scroll 0 0; margin:7px 0 7px 10px; float:left; width: 97%;
}
#dialog-content {
	background:#FFFFFF none repeat scroll 0 0;
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
}
#dialog-sidebar {
width:23%; float:left; margin:8px 0 0 0;
}
#loading-mask {
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    opacity:0.80;
    z-index:500;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    display: none;
}
#loading-mask .loader {
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    margin-left:-60px;
    padding:15px 60px;
    background:#045682;
    border:2px solid #0489CE;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    z-index:1000;
    opacity: 0.9;
}
div.help {
	display: inline;
	position: relative;
	background: url(image/help.gif) no-repeat left top;
	width: 0;
	height: 14px;
	padding: 1px 8px 1px 8px;
	cursor: help;
}
div.help div.tip {
	position: absolute;
	left: 0;
	bottom: 28px;
	padding: .8em;
	width: 16em;
	z-index: 9999;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#FFE45C url(image/help-tip-bg.gif) repeat-x left center;
	border:2px solid #FED22F;
	color:#363636;
	display: none;
}
div.tip .pointer-down, div.tip .pointer-down-inner {
	position: absolute;
	width:0;
	height:0;
	border: 2px solid #FED22F;
	border-bottom-width: 0;
	background: none;
}
div.tip .pointer-down {
	border-left: 0;
	border-right: 17px dotted transparent;
	border-top-width: 14px;
	bottom:	-14px;
	right: auto;
	left: 1em;
	margin: 0;
}
div.tip .pointer-down-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	border-top: 10px solid #fff;
	bottom:	auto;
	top: -14px;
	left: 2px;
	border-top: 10px solid rgb(255, 228, 92);
}
.suggest-better-browser {
	float: right!important;
	width: 750px!important;
}
.suggest-better-browser a{
	font-weight: bold;
	color: #C62F1B;
}
.color-picker{
	padding: 3px 10px 3px 10px;
	background: url(image/colorpicker-trig.gif) no-repeat -2px -2px; cursor: pointer;
}
